@import './variable-style.scss';

html{
    body{
        background: $white url(../resources/images/bg_page.png);
        margin: 0;
        font-family: 'Roboto', sans-serif;

        @media (max-width: 768px) {
            background-size: cover;
            background-attachment: fixed;
        }

        #root{
            margin: 0 auto;
            width: 985px;
            background-color: $white;
            border-radius: 15px;
            padding: 20px;
            margin-top: 30px;

            // Mobile-first responsive design
            @media (max-width: 1024px) {
                width: 95%;
                max-width: 985px;
                margin: 20px auto;
                padding: 15px;
            }

            @media (max-width: 768px) {
                width: 98%;
                margin: 10px auto;
                padding: 10px;
                border-radius: 10px;
            }

            @media (max-width: 480px) {
                width: 100%;
                margin: 5px auto;
                padding: 8px;
                border-radius: 8px;
                margin-top: 10px;
            }

            .p-relative{
                position:relative;
            }

            .f-left{
                float: left;

                @media (max-width: 768px) {
                    float: none;
                    display: block;
                    margin: 0 auto;
                }
            }

            .f-right{
                float: right;

                @media (max-width: 768px) {
                    float: none;
                    display: block;
                    margin: 0 auto;
                }
            }

            .vertical-horizontal-center {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .d-inline{
                display: inline;

                @media (max-width: 768px) {
                    display: block;
                }
            }

            .d-inline-block{
                display: inline-block;

                @media (max-width: 768px) {
                    display: block;
                    width: 100%;
                }
            }

            .color-grey{
                color: $darkGrey
            }

            .t-align-center{
                text-align: center;
            }

            // Responsive text alignment utilities
            .t-align-left-mobile {
                @media (max-width: 768px) {
                    text-align: left;
                }
            }

            .t-align-center-mobile {
                @media (max-width: 768px) {
                    text-align: center;
                }
            }

            .t-align-right-mobile {
                @media (max-width: 768px) {
                    text-align: right;
                }
            }

            // Responsive margin-top utilities
            .mt-10{
                margin-top: 10px;

                @media (max-width: 768px) {
                    margin-top: 7px;
                }

                @media (max-width: 480px) {
                    margin-top: 5px;
                }
            }

            .mt-20{
                margin-top: 20px;

                @media (max-width: 768px) {
                    margin-top: 15px;
                }

                @media (max-width: 480px) {
                    margin-top: 10px;
                }
            }

            .mt-30{
                margin-top: 30px;

                @media (max-width: 768px) {
                    margin-top: 20px;
                }

                @media (max-width: 480px) {
                    margin-top: 15px;
                }
            }

            .mt-40{
                margin-top: 40px;

                @media (max-width: 768px) {
                    margin-top: 25px;
                }

                @media (max-width: 480px) {
                    margin-top: 20px;
                }
            }

            .mt-50{
                margin-top: 50px;

                @media (max-width: 768px) {
                    margin-top: 30px;
                }

                @media (max-width: 480px) {
                    margin-top: 25px;
                }
            }

            .mt-60{
                margin-top: 60px;

                @media (max-width: 768px) {
                    margin-top: 35px;
                }

                @media (max-width: 480px) {
                    margin-top: 30px;
                }
            }

            .mt-70{
                margin-top: 70px;

                @media (max-width: 768px) {
                    margin-top: 40px;
                }

                @media (max-width: 480px) {
                    margin-top: 35px;
                }
            }

            .mt-80{
                margin-top: 80px;

                @media (max-width: 768px) {
                    margin-top: 45px;
                }

                @media (max-width: 480px) {
                    margin-top: 40px;
                }
            }

            .mt-90{
                margin-top: 90px;

                @media (max-width: 768px) {
                    margin-top: 50px;
                }

                @media (max-width: 480px) {
                    margin-top: 45px;
                }
            }

            .mt-100{
                margin-top: 100px;

                @media (max-width: 768px) {
                    margin-top: 60px;
                }

                @media (max-width: 480px) {
                    margin-top: 50px;
                }
            }

            // Responsive margin-bottom utilities
            .mb-10{
                margin-bottom: 10px;

                @media (max-width: 768px) {
                    margin-bottom: 7px;
                }

                @media (max-width: 480px) {
                    margin-bottom: 5px;
                }
            }

            .mb-20{
                margin-bottom: 20px;

                @media (max-width: 768px) {
                    margin-bottom: 15px;
                }

                @media (max-width: 480px) {
                    margin-bottom: 10px;
                }
            }

            .mb-30{
                margin-bottom: 30px;

                @media (max-width: 768px) {
                    margin-bottom: 20px;
                }

                @media (max-width: 480px) {
                    margin-bottom: 15px;
                }
            }

            .mb-40{
                margin-bottom: 40px;

                @media (max-width: 768px) {
                    margin-bottom: 25px;
                }

                @media (max-width: 480px) {
                    margin-bottom: 20px;
                }
            }

            .mb-50{
                margin-bottom: 50px;

                @media (max-width: 768px) {
                    margin-bottom: 30px;
                }

                @media (max-width: 480px) {
                    margin-bottom: 25px;
                }
            }

            .mb-60{
                margin-bottom: 60px;

                @media (max-width: 768px) {
                    margin-bottom: 35px;
                }

                @media (max-width: 480px) {
                    margin-bottom: 30px;
                }
            }

            .mb-70{
                margin-bottom: 70px;

                @media (max-width: 768px) {
                    margin-bottom: 40px;
                }

                @media (max-width: 480px) {
                    margin-bottom: 35px;
                }
            }

            .mb-80{
                margin-bottom: 80px;

                @media (max-width: 768px) {
                    margin-bottom: 45px;
                }

                @media (max-width: 480px) {
                    margin-bottom: 40px;
                }
            }

            .mb-90{
                margin-bottom: 90px;

                @media (max-width: 768px) {
                    margin-bottom: 50px;
                }

                @media (max-width: 480px) {
                    margin-bottom: 45px;
                }
            }

            .mb-100{
                margin-bottom: 100px;

                @media (max-width: 768px) {
                    margin-bottom: 60px;
                }

                @media (max-width: 480px) {
                    margin-bottom: 50px;
                }
            }

            .mb-200{
                margin-bottom: 200px;

                @media (max-width: 768px) {
                    margin-bottom: 100px;
                }

                @media (max-width: 480px) {
                    margin-bottom: 80px;
                }
            }

            // Responsive margin-left utilities
            .ml-10{
                margin-left: 10px;

                @media (max-width: 768px) {
                    margin-left: 7px;
                }

                @media (max-width: 480px) {
                    margin-left: 5px;
                }
            }

            .ml-20{
                margin-left: 20px;

                @media (max-width: 768px) {
                    margin-left: 15px;
                }

                @media (max-width: 480px) {
                    margin-left: 10px;
                }
            }

            .ml-30{
                margin-left: 30px;

                @media (max-width: 768px) {
                    margin-left: 20px;
                }

                @media (max-width: 480px) {
                    margin-left: 15px;
                }
            }

            .ml-40{
                margin-left: 40px;

                @media (max-width: 768px) {
                    margin-left: 25px;
                }

                @media (max-width: 480px) {
                    margin-left: 20px;
                }
            }

            .ml-50{
                margin-left: 50px;

                @media (max-width: 768px) {
                    margin-left: 30px;
                }

                @media (max-width: 480px) {
                    margin-left: 20px;
                }
            }

            .ml-60{
                margin-left: 60px;

                @media (max-width: 768px) {
                    margin-left: 35px;
                }

                @media (max-width: 480px) {
                    margin-left: 25px;
                }
            }

            .ml-70{
                margin-left: 70px;

                @media (max-width: 768px) {
                    margin-left: 40px;
                }

                @media (max-width: 480px) {
                    margin-left: 30px;
                }
            }

            .ml-80{
                margin-left: 80px;

                @media (max-width: 768px) {
                    margin-left: 45px;
                }

                @media (max-width: 480px) {
                    margin-left: 30px;
                }
            }

            .ml-90{
                margin-left: 90px;

                @media (max-width: 768px) {
                    margin-left: 50px;
                }

                @media (max-width: 480px) {
                    margin-left: 35px;
                }
            }

            .ml-100{
                margin-left: 100px;

                @media (max-width: 768px) {
                    margin-left: 60px;
                }

                @media (max-width: 480px) {
                    margin-left: 40px;
                }
            }

            // Responsive margin-right utilities
            .mr-10{
                margin-right: 10px;

                @media (max-width: 768px) {
                    margin-right: 7px;
                }

                @media (max-width: 480px) {
                    margin-right: 5px;
                }
            }

            .mr-20{
                margin-right: 20px;

                @media (max-width: 768px) {
                    margin-right: 15px;
                }

                @media (max-width: 480px) {
                    margin-right: 10px;
                }
            }

            .mr-30{
                margin-right: 30px;

                @media (max-width: 768px) {
                    margin-right: 20px;
                }

                @media (max-width: 480px) {
                    margin-right: 15px;
                }
            }

            .mr-40{
                margin-right: 40px;

                @media (max-width: 768px) {
                    margin-right: 25px;
                }

                @media (max-width: 480px) {
                    margin-right: 20px;
                }
            }

            .mr-50{
                margin-right: 50px;

                @media (max-width: 768px) {
                    margin-right: 30px;
                }

                @media (max-width: 480px) {
                    margin-right: 20px;
                }
            }

            .mr-60{
                margin-right: 60px;

                @media (max-width: 768px) {
                    margin-right: 35px;
                }

                @media (max-width: 480px) {
                    margin-right: 25px;
                }
            }

            .mr-70{
                margin-right: 70px;

                @media (max-width: 768px) {
                    margin-right: 40px;
                }

                @media (max-width: 480px) {
                    margin-right: 30px;
                }
            }

            .mr-80{
                margin-right: 80px;

                @media (max-width: 768px) {
                    margin-right: 45px;
                }

                @media (max-width: 480px) {
                    margin-right: 30px;
                }
            }

            .mr-90{
                margin-right: 90px;

                @media (max-width: 768px) {
                    margin-right: 50px;
                }

                @media (max-width: 480px) {
                    margin-right: 35px;
                }
            }

            .mr-100{
                margin-right: 100px;

                @media (max-width: 768px) {
                    margin-right: 60px;
                }

                @media (max-width: 480px) {
                    margin-right: 40px;
                }
            }

            // Additional mobile-friendly utility classes
            .mobile-hidden {
                @media (max-width: 768px) {
                    display: none !important;
                }
            }

            .desktop-hidden {
                @media (min-width: 769px) {
                    display: none !important;
                }
            }

            .mobile-full-width {
                @media (max-width: 768px) {
                    width: 100% !important;
                }
            }

            .mobile-center {
                @media (max-width: 768px) {
                    margin: 0 auto !important;
                    text-align: center !important;
                }
            }

            .mobile-stack {
                @media (max-width: 768px) {
                    display: block !important;
                    width: 100% !important;
                    margin-bottom: 15px !important;
                }
            }

            .mobile-no-float {
                @media (max-width: 768px) {
                    float: none !important;
                    display: block !important;
                }
            }

            // Responsive padding utilities
            .p-10 {
                padding: 10px;

                @media (max-width: 768px) {
                    padding: 7px;
                }

                @media (max-width: 480px) {
                    padding: 5px;
                }
            }

            .p-20 {
                padding: 20px;

                @media (max-width: 768px) {
                    padding: 15px;
                }

                @media (max-width: 480px) {
                    padding: 10px;
                }
            }

            .px-10 {
                padding-left: 10px;
                padding-right: 10px;

                @media (max-width: 768px) {
                    padding-left: 7px;
                    padding-right: 7px;
                }

                @media (max-width: 480px) {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }

            .py-10 {
                padding-top: 10px;
                padding-bottom: 10px;

                @media (max-width: 768px) {
                    padding-top: 7px;
                    padding-bottom: 7px;
                }

                @media (max-width: 480px) {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }

            // Responsive font sizes
            .text-responsive {
                @media (max-width: 768px) {
                    font-size: 0.9em;
                }

                @media (max-width: 480px) {
                    font-size: 0.8em;
                }
            }

            .text-small-mobile {
                @media (max-width: 768px) {
                    font-size: 0.8em;
                }

                @media (max-width: 480px) {
                    font-size: 0.7em;
                }
            }

            // Touch-friendly elements
            .touch-friendly {
                @media (max-width: 768px) {
                    min-height: 44px;
                    padding: 10px;
                }
            }
        }
    }
}