@import '../../resources/variable-style.scss';
@import '../../resources/shared-style.scss';

.order{

    .cart-container{
        position: absolute;
        top: 80px;
        right: 10px;
    }

    .access-token-container{
        width: 500px;
        margin: 0 auto;

        .token-field-container, .phone-field-container, .agent-field-container{
            width: 200px;
            margin: 0 auto;
        }
    }

    .single-product{
        min-height: 300px;
        position: relative;
        width: 23%;
        display: inline-block;
        margin-right: 30px;
        vertical-align: top;
        margin-bottom: 50px;

        .product-container{
            text-align: left;
            padding-top: 10px;
            box-shadow: 0px 0px 5px 1px $grey;
            background: $lightestGrey;
            position: relative;
            display: inline-block;
    
            img{
                width: 215px;
                height: 200px;
                background: round;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
            }
    
            p{
                margin: 5px 0;
            }
    
            .horizontal-space{
                padding: 0 10px;
            }
    
            .price-container{
                text-align: center;
                width: 100%;
                background: $cadetblue;
                height: 40px;
                box-shadow: 0px 0px 5px 1px $grey;
    
                .catalog-price{
                    font-size: 20px;
                    color: $white;
                    padding-top: 9px;
                }
            }
        }
    }

    .product-added-container{
        position: absolute;
        top: 50px;
        background: $white;
        width: 100%;
        text-align: center;
        box-shadow: 0px 5px 4px $grey;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;

        p{
            padding: 20px;
            color: $blue;
            font-weight: bold;
            font-size: 23px;
        }
    }

    .added{
        filter: grayscale(100%);
    }

    .customer{
        background: $lightestGrey;
        box-shadow: 0px 0px 5px 1px $grey;
        position: absolute;
        width: 945px;
        top: -13px;
        padding: 10px 0;

        p{
            margin: 0;
            color: $darkGrey;

            &.address{
                margin-top: 5px;
            }
        }
    }
}

.add-product{
    .p-dialog-header{
        display: none;
    }

    .mr-20{
        margin-right: 20px;
    }

    .t-align-center{
        text-align: center;
    }

    .mb-10{
        margin-bottom: 10px;
    }

    .p-dialog-content{
        padding: 20px;
    }

    .product-container{

        p{
            margin: 0 0 5px 0;
        }

        img{
            width: 250px;
            height: 250px;
            background: round;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }
    }
}

.p-dialog{

    .p-dialog-header{
        box-shadow: 0px 0px 5px 1px $grey;
        background: $lightestGrey;

        .customer{
            p{
                font-weight: 100;
                margin: 5px 0 0 0;
            }
        }
    }

    .total-container{
        float: right;

        div{
            border-bottom: 1px solid $lightGrey;
            padding: 15px 0;
            width: 220px;

            label{
                margin-right: 20px;
                font-weight: bold;

                &.discount{
                    margin: 0;
                }
            }

            .cart-subtotal{
                margin-left: 34px;
                font-weight: bold;
            }

            .cart-discount{
                margin-left: 12px;
                font-weight: bold;
            }

            .cart-iva{
                margin-left: 78px;
                font-weight: bold;
            }

            .cart-total{
                margin-left: 66px;
                font-weight: bold;
            }
        }
    }

    .send-order-container{
        margin-top: 20px;
        text-align: center;
    }

    .order-recovery-container{
        margin-top: 20px;
        display: inline-block;
    }

    .no-records-order-recovery-container{
        margin-top: 70px;
        text-align: center;
    }

    .send-email-to-customer-container{
        margin-left: 20px;
        display: inline;

        label{
            margin-left: 10px;
        }
    }

    .cart-note-container{
        label{
            display: block;
            margin: 20px 0 0 10px;
        }
    }

    .t-align-center{
        text-align: center;
    }

    .cart-table{
        tbody{
            tr{
                td{
                    padding: 7px;
                }
            }
        }
    }
}

.orderDone{
    .p-dialog-header{
        background: $cadetblue;
        color: $white
    }
}