@import '../../resources/variable-style.scss';
@import '../../resources/shared-style.scss';

.order{

    .cart-container{
        position: absolute;
        top: 80px;
        right: 10px;

        @media (max-width: 768px) {
            position: relative;
            top: 0;
            right: 0;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    .access-token-container{
        width: 500px;
        margin: 0 auto;

        @media (max-width: 768px) {
            width: 95%;
            padding: 0 10px;
        }

        .token-field-container, .phone-field-container, .agent-field-container{
            width: 200px;
            margin: 0 auto;

            @media (max-width: 768px) {
                width: 100%;
                max-width: 300px;
            }
        }
    }

    .single-product{
        min-height: 300px;
        position: relative;
        width: 23%;
        display: inline-block;
        margin-right: 30px;
        vertical-align: top;
        margin-bottom: 50px;

        @media (max-width: 1200px) {
            width: 30%;
            margin-right: 20px;
        }

        @media (max-width: 768px) {
            width: 45%;
            margin-right: 10px;
            margin-bottom: 30px;
        }

        @media (max-width: 480px) {
            width: 90%;
            margin: 0 auto 20px auto;
            display: block;
        }

        .product-container{
            text-align: left;
            padding-top: 10px;
            box-shadow: 0px 0px 5px 1px $grey;
            background: $lightestGrey;
            position: relative;
            display: inline-block;
    
            @media (max-width: 480px) {
                width: 100%;
                text-align: center;
            }
    
            img{
                width: 215px;
                height: 200px;
                background: round;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;

                @media (max-width: 768px) {
                    width: 180px;
                    height: 160px;
                }

                @media (max-width: 480px) {
                    width: 250px;
                    height: 200px;
                    max-width: 90%;
                }
            }
    
            p{
                margin: 5px 0;

                @media (max-width: 480px) {
                    font-size: 14px;
                }
            }
    
            .horizontal-space{
                padding: 0 10px;
            }
    
            .price-container{
                text-align: center;
                width: 100%;
                background: $cadetblue;
                height: 40px;
                box-shadow: 0px 0px 5px 1px $grey;
    
                .catalog-price{
                    font-size: 20px;
                    color: $white;
                    padding-top: 9px;
                }
            }
        }
    }

    .product-added-container{
        position: absolute;
        top: 50px;
        background: $white;
        width: 100%;
        text-align: center;
        box-shadow: 0px 5px 4px $grey;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;

        p{
            padding: 20px;
            color: $blue;
            font-weight: bold;
            font-size: 23px;
        }
    }

    .added{
        filter: grayscale(100%);
    }

    .customer{
        background: $lightestGrey;
        box-shadow: 0px 0px 5px 1px $grey;
        position: absolute;
        width: 945px;
        top: -13px;
        padding: 10px 0;

        @media (max-width: 1024px) {
            width: 95%;
            left: 2.5%;
        }

        @media (max-width: 768px) {
            position: relative;
            width: 100%;
            top: 0;
            left: 0;
            margin-bottom: 20px;
        }

        p{
            margin: 0;
            color: $darkGrey;

            @media (max-width: 480px) {
                font-size: 14px;
                text-align: center;
            }

            &.address{
                margin-top: 5px;
            }
        }
    }
}

.add-product{
    .p-dialog-header{
        display: none;
    }

    @media (max-width: 480px) {
        .p-dialog-content{
            padding: 10px;
        }
    }

    .mr-20{
        margin-right: 20px;

        @media (max-width: 480px) {
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }

    .t-align-center{
        text-align: center;
    }

    .mb-10{
        margin-bottom: 10px;
    }

    .p-dialog-content{
        padding: 20px;
    }

    .product-container{

        p{
            margin: 0 0 5px 0;

            @media (max-width: 480px) {
                font-size: 14px;
            }
        }

        img{
            width: 250px;
            height: 250px;
            background: round;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;

            @media (max-width: 480px) {
                width: 200px;
                height: 200px;
                max-width: 90%;
            }
        }
    }

    form {
        @media (max-width: 480px) {
            .p-inputtext {
                width: 100% !important;
                margin-bottom: 10px;
            }
        }
    }
}

.p-dialog{

    @media (max-width: 768px) {
        margin: 10px;
    }

    .p-dialog-header{
        box-shadow: 0px 0px 5px 1px $grey;
        background: $lightestGrey;

        .customer{
            p{
                font-weight: 100;
                margin: 5px 0 0 0;

                @media (max-width: 480px) {
                    font-size: 12px;
                }
            }
        }
    }

    .total-container{
        float: right;

        @media (max-width: 768px) {
            float: none;
            width: 100%;
            margin-top: 20px;
        }

        div{
            border-bottom: 1px solid $lightGrey;
            padding: 15px 0;
            width: 220px;

            @media (max-width: 768px) {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
            }

            label{
                margin-right: 20px;
                font-weight: bold;

                @media (max-width: 768px) {
                    margin-right: 0;
                }

                &.discount{
                    margin: 0;
                }
            }

            .cart-subtotal, .cart-discount, .cart-iva, .cart-total{
                font-weight: bold;
                
                @media (max-width: 768px) {
                    margin-left: 0 !important;
                }
            }

            .cart-subtotal{
                margin-left: 34px;
            }

            .cart-discount{
                margin-left: 12px;
            }

            .cart-iva{
                margin-left: 78px;
            }

            .cart-total{
                margin-left: 66px;
            }
        }
    }

    .send-order-container{
        margin-top: 20px;
        text-align: center;

        @media (max-width: 768px) {
            margin-top: 10px;
        }
    }

    .order-recovery-container{
        margin-top: 20px;
        display: inline-block;

        @media (max-width: 768px) {
            display: block;
            text-align: center;
            margin: 20px 0;
        }
    }

    .no-records-order-recovery-container{
        margin-top: 70px;
        text-align: center;

        @media (max-width: 768px) {
            margin-top: 30px;
        }
    }

    .send-email-to-customer-container{
        margin-left: 20px;
        display: inline;

        @media (max-width: 768px) {
            margin-left: 0;
            display: block;
            text-align: center;
            margin: 20px 0;
        }

        label{
            margin-left: 10px;

            @media (max-width: 768px) {
                margin-left: 5px;
            }
        }
    }

    .cart-note-container{
        @media (max-width: 768px) {
            margin-top: 20px;
        }

        label{
            display: block;
            margin: 20px 0 0 10px;

            @media (max-width: 768px) {
                margin: 10px 0 5px 0;
                text-align: center;
            }
        }

        textarea{
            @media (max-width: 768px) {
                width: 100% !important;
            }
        }
    }

    .t-align-center{
        text-align: center;
    }

    .cart-table{
        @media (max-width: 768px) {
            font-size: 12px;
        }

        tbody{
            tr{
                td{
                    padding: 7px;

                    @media (max-width: 768px) {
                        padding: 4px 2px;
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

// Global mobile responsiveness
@media (max-width: 768px) {
    .ui.container {
        margin-left: 1em !important;
        margin-right: 1em !important;
        width: auto !important;
    }
    
    .ui.segment {
        padding: 0.5em !important;
    }
    
    .p-button {
        padding: 0.5rem 1rem !important;
        font-size: 0.875rem !important;
    }
    
    .p-dropdown {
        width: 100% !important;
    }
    
    .p-inputtext {
        padding: 0.5rem !important;
        font-size: 0.875rem !important;
    }
}

@media (max-width: 480px) {
    .ui.container {
        margin-left: 0.5em !important;
        margin-right: 0.5em !important;
    }
    
    .p-button {
        padding: 0.4rem 0.8rem !important;
        font-size: 0.75rem !important;
    }
    
    .p-inputtext {
        padding: 0.4rem !important;
        font-size: 0.75rem !important;
    }
}

.orderDone{
    .p-dialog-header{
        background: $cadetblue;
        color: $white;
        
        @media (max-width: 480px) {
            padding: 10px;
            
            .customer p {
                font-size: 12px;
            }
        }
    }
    
    @media (max-width: 480px) {
        .p-dialog-content {
            padding: 15px;
            
            h2 {
                font-size: 18px;
                margin: 10px 0;
            }
        }
    }
}