@import '../../resources/variable-style.scss';

.catalog{

    .access-token-container{
        width: 500px;
        margin: 0 auto;

        .token-field-container{
            width: 200px;
            margin: 0 auto;
        }
    }

    .product-container{
        text-align: left;
        padding-top: 10px;
        box-shadow: 0px 0px 5px 1px $grey;
        background: $lightestGrey;
        min-height: 300px;
        position: relative;
        width: 23%;
        display: inline-block;
        margin-right: 30px;
        vertical-align: top;
        margin-bottom: 50px;

        img{
            width: 215px;
            height: 200px;
            background: round;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }

        p{
            margin: 5px 0;
        }

        .horizontal-space{
            padding: 0 10px;
        }

        .price-container{
            text-align: center;
            width: 100%;
            background: $cadetblue;
            height: 40px;
            box-shadow: 0px 0px 5px 1px $grey;

            .catalog-price{
                font-size: 20px;
                color: $white;
                padding-top: 9px;
            }
        }
    }
}