@import '../../resources/variable-style.scss';

footer{
    background: url(../../resources/images/top_menu_bg.png);
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border: 7px 7px 0 0;
    height: 50px;
    position: relative;

    @media (max-width: 768px) {
        text-align: center;
    }

    @media (max-width: 480px) {
        margin-top: 200px;
    }

    span{
        color: $darkGrey;
    }
}